<li>
  <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}
    {{ if .Site.Params.enablePostImg }}
      {{ $rawImagePath := "" }}
      {{ $img := "" }}
      {{ $staticImgSrc := "" }}

      {{ with .Params.images }}
        {{ $rawImagePath = index . 0 }}
      {{ else }}
        {{ with .Site.Params.images }}
          {{ $rawImagePath = index . 0 }}
        {{ end }}
      {{ end }}

      {{ if $rawImagePath }}
        {{ $assetPathCandidate := "" }}
        {{ if hasPrefix $rawImagePath "images/" }}
          {{ $assetPathCandidate = $rawImagePath }}
        {{ else if hasPrefix $rawImagePath "/" }}
          {{ $assetPathCandidate = strings.TrimPrefix "/" $rawImagePath }}
        {{ else }}
          {{ $assetPathCandidate = printf "images/%s" $rawImagePath }}
        {{ end }}

        {{ with resources.Get $assetPathCandidate }}
          {{ $img = . }}
        {{ else }}
          {{ if hasPrefix $rawImagePath "/" }}
            {{ $staticImgSrc = $rawImagePath }}
          {{ end }}
        {{ end }}
      {{ else }}
        {{ $staticImgSrc = "/thumb.png" }} {{/* Set your default static image path here */}}
      {{ end }}

      {{ if $img }}
        <figure>
          <div class="postimg">
            <img
              src="{{ $img.RelPermalink }}"
              alt="{{ .Title | default "article image" }}"
              loading="lazy"
              width="{{ $img.Width }}"
              height="{{ $img.Height }}"
            />
          </div>
        </figure>
      {{ else if $staticImgSrc }}
        <figure>
          <div class="postimg">
            <img
              src="{{ $staticImgSrc | safeURL }}"
              alt="{{ .Title | default "article image" }}"
              loading="lazy"
            />
          </div>
        </figure>
      {{ end }}
    {{ end }}
  </span>
  {{ if not .Site.Params.enablePostImg }}
  <br>
  {{ end }}
  <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">
    {{ .Title }}
    {{ if .Site.Params.enablePostSummary }}
      {{ if gt (len .Summary) 0 }}
        <p class="summary">
          {{ plainify .Summary | truncate 250 }} <i class="fa fa-terminal" aria-hidden="true"></i>
        </p>
      {{ else }}
       <br><br>
      {{ end }}
    {{ end }}
  </a>
</li>